/* Global body and page styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.auth-page {
    height: 100vh;
    background: linear-gradient(-45deg, #2c2c2c, #4a4a4a, #6e6e6e, #8c8c8c);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Register container styling */
.register-container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #C0C0C0; /* semi-transparent white */
    border-radius: 10px;
}

.register-container form {
    box-shadow: none;
    background: rgba(255, 255, 255, 0); /* semi-transparent white */
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    color: #333;
}

/* Input styling */
.register-container input {
    background-color: #E5E4E2;
    color: #333;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Register button styling */
.register-main-btn {
    background-color: #007bf0;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-main-btn:hover {
    background-color: #0056b3;
}

/* Register page hyperlink styles */
.login-link a {
    color: #007bff; /* Blue color for the link */
    font-weight: bold;
    text-decoration: none; /* Removes underline */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.login-link a:hover {
    color: #0056b3; /* Darker blue on hover */
    text-decoration: underline; /* Adds underline on hover */
}
