body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.auth-page {
    height: 100vh;
    background: linear-gradient(-45deg, #2c2c2c, #4a4a4a, #6e6e6e, #8c8c8c);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.register-container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #C0C0C0; /* semi-transparent white */
    /* If you want a fully transparent background, use rgba(255, 255, 255, 0) */
    border-radius: 10px; /* Optional: Adds rounded corners */
}
.register-container form {
    box-shadow: none;
    background: rgba(255, 255, 255, 0); /* semi-transparent white */
    padding: 20px; /* Optional: Add padding inside the form */
    border-radius: 10px; /* Optional: Rounded corners for the form */
}

h2 {
    font-size: 2rem;
    color: #333;
}

.register-container input {
    background-color: #E5E4E2;
    color: #333;
}

.register-container button {
    background-color: #007bf0;
    color: white;
}

.register-container button:hover {
    background-color: #0056b3;
}
